html,
body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
}

header {
    display: block;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    min-height: 100px;
    padding: 14% 0;
    position: relative;
}

header .opasity-block {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

header .container {
    width: 80%;
}

header .container h1 {
    font-size: 3.5rem;
}

header .container h2 {
    font-size: 2.5rem;
}

.item-line {
    padding: 3% 0;
}

.circle {
    display: block;
    width: 50%;
    margin: 0 auto;
}

.blue-color {
    background: #001c32;
    color: #fff;
}

li::before {
    content: "\2713";
    padding-right: 1rem;
}

.normal::before {
    content: "";
    padding-right: 0;
}

.row {
    margin-left: 14rem;
    margin-right: 14rem;
}

.material-icons {
    font-size: 4rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.2rem;
}

.images {
    padding: 5px;
    margin: 10px 0;
    background: #90caf9
}

.img-opt {
    display: block;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    margin: 30px auto;
}

.num {
    font-size: 7rem;
    text-align: center;
    font-weight: 700;
    margin: 5px
}

ul.pointer li::before {
    content: "\279C";
    padding-right: 1rem;
}

.blue {
    background-color: #002c4a !important;
}

.page-footer li::before {
    content: "";
}